xml-resources/web-service-references/Employee/wsdl/localhost_8080/employee_ws/Employee.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://employee_ws/" name="Employee">
<types>
<xsd:schema>
<xsd:import namespace="http://employee_ws/" schemaLocation="http://localhost:8080/employee_ws/Employee?xsd=1"/>
</xsd:schema>
</types>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="getDetails">
<part name="parameters" element="tns:getDetails"/>
</message>
<message name="getDetailsResponse">
<part name="parameters" element="tns:getDetailsResponse"/>
</message>
<portType name="Employee">
<operation name="editEmployee">
<input wsam:Action="http://employee_ws/Employee/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://employee_ws/Employee/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://employee_ws/Employee/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://employee_ws/Employee/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="createEmployee">
<input wsam:Action="http://employee_ws/Employee/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://employee_ws/Employee/createEmployeeResponse" message="tns:createEmployeeResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://employee_ws/Employee/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://employee_ws/Employee/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="getDetails">
<input wsam:Action="http://employee_ws/Employee/getDetailsRequest" message="tns:getDetails"/>
<output wsam:Action="http://employee_ws/Employee/getDetailsResponse" message="tns:getDetailsResponse"/>
</operation>
</portType>
<binding name="EmployeePortBinding" type="tns:Employee">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Employee">
<port name="EmployeePort" binding="tns:EmployeePortBinding">
<soap:address location="http://localhost:8080/employee_ws/Employee"/>
</port>
</service>
</definitions>