src/META-INF/wsdl/localhost_8080/employee_ws/Customer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://employee_ws/" name="Customer">
<types>
<xsd:schema>
<xsd:import namespace="http://employee_ws/" schemaLocation="http://localhost:8080/employee_ws/Customer?xsd=1"/>
</xsd:schema>
</types>
<message name="createCustomer">
<part name="parameters" element="tns:createCustomer"/>
</message>
<message name="createCustomerResponse">
<part name="parameters" element="tns:createCustomerResponse"/>
</message>
<message name="editcustomer">
<part name="parameters" element="tns:editcustomer"/>
</message>
<message name="editcustomerResponse">
<part name="parameters" element="tns:editcustomerResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="getCustomerDetails">
<part name="parameters" element="tns:getCustomerDetails"/>
</message>
<message name="getCustomerDetailsResponse">
<part name="parameters" element="tns:getCustomerDetailsResponse"/>
</message>
<portType name="Customer">
<operation name="createCustomer">
<input wsam:Action="http://employee_ws/Customer/createCustomerRequest" message="tns:createCustomer"/>
<output wsam:Action="http://employee_ws/Customer/createCustomerResponse" message="tns:createCustomerResponse"/>
</operation>
<operation name="editcustomer">
<input wsam:Action="http://employee_ws/Customer/editcustomerRequest" message="tns:editcustomer"/>
<output wsam:Action="http://employee_ws/Customer/editcustomerResponse" message="tns:editcustomerResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://employee_ws/Customer/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://employee_ws/Customer/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="getCustomerDetails">
<input wsam:Action="http://employee_ws/Customer/getCustomerDetailsRequest" message="tns:getCustomerDetails"/>
<output wsam:Action="http://employee_ws/Customer/getCustomerDetailsResponse" message="tns:getCustomerDetailsResponse"/>
</operation>
</portType>
<binding name="CustomerPortBinding" type="tns:Customer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editcustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Customer">
<port name="CustomerPort" binding="tns:CustomerPortBinding">
<soap:address location="http://localhost:8080/employee_ws/Customer"/>
</port>
</service>
</definitions>